@import "../packages/bootstrap-4.3.1/scss/bootstrap";
@import "variables.scss";
@import "adaptive.scss";



.container{
    @media (min-width: 1200px){
        width: 1170px;
        max-width: 1170px;
      }
}


header{

    img{
        img { opacity:.07 };
    }

    .carousel-inner{
        max-height: 1024px;
    }


    .carousel-indicators li{
    height: 11px;
    width: 11px;
    border-radius: 50%;
    margin-right: 12px;
    margin-left: 0;
    
    &:hover{
        width: 11px;
        height: 11px;
        background-color: transparentize(rgb(255, 255, 255), 1);
        border: 2px solid #d3c1ad;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: 10px;
        margin-left: -2px;
    }

}

    .carousel-indicators .active{
        width: 11px;
        height: 11px;
        background-color: transparentize(rgb(255, 255, 255), 1);
        border: 2px solid #d3c1ad;
        margin: 8px 10px 8px -2px;
    }
    .carousel-control-next-icon{
        background: url(../images/right.svg);
    }
    .carousel-control-prev-icon{
        background-image: url(../images/left.svg);
    }
    .carousel-control-prev-icon, .carousel-control-next-icon{
        width: 40px;
        height: 73px;
    }
    .carousel-item{
            background-color: rgba(17, 17, 17, 0.7);
        img{
            mix-blend-mode: multiply;
        }
        
    }


    .first{
        position: absolute;
        top: 40px;
        left: calc((100vw - 1170px)/2);
        .container{
            .row{
                align-items: center;
            }

            @media (min-width: 1200px){
                width: 1170px;
                max-width: 1170px;
              }
                
            
            .logo{
                display: flex;
                
                
                a{
                    display: flex;
                    align-items: center;
                    &:hover{
                     text-decoration: none;   
                    }
                    
                    .logo-svg {
                    fill: #fff;
                    margin-right: 2px;
                    transition-duration: 0.5s;
                    }

                    span{
                        color: #ffffff;
                        font-family: Raleway , sans-serif;
                        font-size: 34px;
                        font-weight: 400;
                        letter-spacing: -1.36px;
                        transition-duration: 0.5s;
                    }
                    &:hover{
                        .logo-svg {
                            fill: #c7b299;
                        }
                        span{
                            color: #c7b299;
                        }
                    }
                }

                
            }
            ul{
                align-items: center;
                li{
                    font-family: Montserrat, sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 0 14px;
                    &:first-child{
                        padding-left: 0;
                    }
                    a{
                    color: #ffffff;  
                    padding: 0;
                    transition-duration: 0.5s;
                     &:hover{
                        color: #c7b299;
                    }
                    }
                    .nav-link.disabled{
                        color: #c7b299;
                    }
                   
                }
            }
            button{
                padding:0;
                background-color: #7fffd400;
                border: 0;
                .buy{
                    fill: #fff;
                    transition-duration: 0.5s;
                    &:hover{
                        fill: #c7b299;
                    }
                }
            }
            form{
                width: 30px;
                float: right;
                position: relative;
                input[type=submit]{
                    position: absolute;
                    z-index: 10;
                    width: 25px;
                    padding: 0;
                    color: #f0f8ff00;
                    margin-top: 3px;
                    background-color: #f0f8ff00;
                    border: 0;
                    background: url(../images/icon-search.svg) no-repeat;
                    &:focus{
                        outline: none;
                    }
                }
                input[type=search]{
                    transition-duration: 0.5s;
                    position: absolute;
                    color: #ffffff;
                    font-family: Montserrat, sans-serif;
                    width: 0;
                    padding-left: 36px;
                    left: -4px;
                    background-color: #f0f8ff00;
                    border: none;
                    //border-bottom: solid 2px #ffffff;
                    top: 3px;
                   // display: none;
                    &:focus{
                        outline: none;
                        width: 120px;
                        border-bottom: solid 2px #ffffff;
                    }      
                }
                &:hover{
                    input[type=search]{
                       // display: block;
                       width: 120px;
                       border-bottom: solid 2px #ffffff;
                    }
                }
            }
        }

        

    }

    .second{
        position: absolute;
        top: 381px;
        left: calc((100vw - 590px)/2);
        text-align: center;
        h2{
            color: #ffffff;
            font-family: Raleway, sans-serif;
            font-size: 36px;
            font-weight: 500;
        }
        h1{
            color: #ffffff;
            font-family: Raleway,sans-serif;
            font-size: 52px;
            font-weight: 800;
        }
        p{
            width: 575px;
            color: #ffffff;
            font-family: Montserrat,sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
        a{
            display: flex;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 53px;
            box-shadow: inset 0 -3px 0 #736357;
            border-radius: 3px;
            background-color: #998675;
            color: #ffffff;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 23px;
            font-family: Raleway,sans-serif;
            font-weight: 800;
            text-decoration: none;
            transition-duration: 0.5s;
            &:hover{
                color: #c7b299;
                background-color: #403226;
                box-shadow: inset 0 -3px 0 #736357;
            }
        }
    }
   

}
main{
     .third{
        display: flex;
        background-color: #ffffff;
        text-align: center;
        padding-bottom: 80px;
        .plus{
            margin-top: 80px;

            &::after{
                content: "";
                display: block;
                width: 70px;
                height: 3px;
                background-color: #f1eee9;
                margin: 0 auto;
                transition-duration: 0.5s;
            }
            .svg_all{
                margin-bottom: 30px;
                cursor: pointer;
                transition-duration: 0.5s;
              
            }
            .svg_first{
                fill:#555555;
            }
            .svg_second{
                margin-top: 9px;
                fill:#555555;
            }
            .svg_third{
                margin-top: 4px;
                fill:#555555;
            }
            .svg_fourth{
                margin-top: 12px;
                fill:#555555;
            }

            h3{
                margin-bottom: 16px;
                cursor: pointer;
                transition-duration: 0.5s;
            }
            p{
                margin-bottom: 30px;
            }
            &:hover{
                h3{
                    color: #c7b299;  
                } 
                &::after{
                    background-color: #c7b299;
                }
                .svg_all{
                    fill: #c7b299;
                }
            }
        }
    }
    .fourth{
        text-align: center;
        padding-bottom: 522px;
        h2{
            padding-top: 83px;
            color: #555555;
            font-family: "Raleway";
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 24px;
        }
        p{
            width: 789px;
            margin: 0 auto;
            color: #8c8c8c;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
        }
        background: url(../images/3-layers.png) no-repeat;
        background-position-x: 50%;
        background-position-y: 100%;
        background-color: #fbfaf8;
    }
    aside{
        background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
        .row{
            padding-top: 50px;



            h2{
                color: #ffffff;
                font-family: Raleway;
                font-size: 28px;
                font-weight: 400;
                span{
                    color: #c7b299;
                }
            }
            p{
                color: #615855;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 50px;
            }
            a{
                display: flex;
                margin-left: 35%;
                justify-content: center;
                align-items: center;
                width: 170px;
                height: 50px;
                box-shadow: inset 0 -3px 0 #736357;
                border-radius: 3px;
                background-color: #998675;
                color: #ffffff;
                text-transform: uppercase;
                font-size: 14px;
                line-height: 23px;
                font-family: Raleway,sans-serif;
                font-weight: 800;
                text-decoration: none;
                transition-duration: 0.5s;
                &:hover{
                    color: #c7b299;
                    background-color: #403226;
            }
            }
        }
        
    }
    .fifth{
        background-color: #ffffff;
        text-align: center;
        padding-bottom: 80px;
        h2{
            padding-top: 80px;
            margin-bottom: 25px;
            color: #555555;
            font-family: Raleway;
            font-size: 30px;
            font-weight: 600;
        }
        .teg{
            width: 780px;
            color: #8c8c8c;
            font-family: Montserrat,sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            margin: 0 auto 40px auto;
        }
        ol{
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            width: 605px;
            margin: 0 auto;
            padding: 0;
            margin-bottom: 40px;
            li{
                
                width: 120px;
                height: 32px;
               
             
                &:last-child{
                    width: 135px;
                }
                &:first-child{
                    width: 70px;
                    

                }

                button{
                    height: 100%;
                    width: 100%;
                    border-radius: 3px;
                    border: 1px solid #ebebeb;
                    background-color: #ffffff;
                    color: #8c8c8c;
                    font-family: Montserrat,sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    transition-duration: 0.5s;
                    &:hover{
                        border: none;
                        background-color: #998675;
                        color: #ffffff;
                    }
                    
                }
                .button_active{
                    border: none;
                    background-color: #998675;
                    color: #ffffff;
                    pointer-events: none;
                    cursor: default;
                }
            }
        }
        .container{
            .row{
                display: grid;
                grid-template-columns: repeat(3,370px);
                grid-column-gap: 30px;
                grid-row-gap: 30px;
                margin-bottom: 40px;
                article{
                        transition-duration: 0.5s;
                        &:hover{
                            background-color: rgba(17, 17, 17, 0.7);
                            .main_picha{
                                .second_picha{
                                    display: block;
                                }
                            }
                            .picha{
                                background-color: #362f2d;
                                &::before{
                                    background-color: #362f2d;
                                }
                                h3{
                                    color: #ffffff;
                                }
                                p{
                                    color: #c7b299;
                                }
                               
                            }
                        }
                    .main_picha{
                        position: relative;
                        img{
                        mix-blend-mode: multiply;
                        width: 100%;
                        }
                        .second_picha{
                            position: absolute;
                            left: 198px;
                            top: 106px;
                            fill: #fff;
                            display: none;
                            transition-duration: 0.5s;
                            &:hover{
                                fill: #c7b299;
                            }
                        }
                        .third_picha{
                            @extend .second_picha;
                            left: 144px;
                        }
                    }
                    .picha{
                        width: 100%;
                        height: 100px;
                        background-color: #fbfaf8;
                        text-align: left;
                        padding-left: 28px;
                        padding-top: 30px;
                        position: relative;
                        transition-duration: 0.5s;
                        &::before{
                            content: "";
                            display: block;
                            width: 30px;
                            height: 30px;
                            background-color: #fbfaf8;
                            transform: rotateZ(-45deg);
                            position: absolute;
                            left: 20px;
                            top: -14px;
                            transition-duration: 0.5s;
                        }
                        h3{
                            margin-bottom: 14px;
                            color: #c7b299;
                            font-family: Raleway,sans-serif;
                            font-size: 20px;
                            font-weight: 500;
                            transition-duration: 0.5s;
                        }
                        p{
                            color: #d1d1d1;
                            font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                            transition-duration: 0.5s;
                        }  
                    }
                }
            }
        }
        .enter{
            display: flex;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 50px;
            box-shadow: inset 0 -3px 0 #736357;
            border-radius: 3px;
            background-color: #998675;
            color: #ffffff;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 23px;
            font-family: Raleway,sans-serif;
            font-weight: 800;
            text-decoration: none;
            transition-duration: 0.5s;
            &:hover{
                color: #c7b299;
                background-color: #403226;
                box-shadow: inset 0 -3px 0 #736357;
            }
        }
    }

    .sixth{
        position: relative;
        .vjs-icon-play:before, .video-js .vjs-big-play-button .vjs-icon-placeholder:before, .video-js .vjs-play-control .vjs-icon-placeholder:before{
     
            content: none;
        }

        
        .my-video-dimensions{
            width: 100%;
            height: 699px;
            &:hover{
                .vjs-big-play-button{
                    background-color: #0000004d;
                    transition-duration: 0.5s;
                }
            }
        }
        .vjs-big-play-button{
            background: url(../images/icon-play.svg) no-repeat;
            background-position-x: 15px;
            background-position-y: 15px;
            width: 100px;
            height: 100px;
            left: calc(50% - 50px);
            top: calc(33% - 50px);
            border-radius: 50%;
            outline: none;
            border: none;
            transition-duration: 0.5s;
        }
        .video_footer{
            position: absolute;
            top: 50%;
            left: calc(50% - 284px);
            width: 568px;
            text-align: center;
            h3{
                color: #ffffff;
                font-family: Raleway;
                font-size: 30px;
                font-weight: 500;
                margin-bottom: 30px;
            }
            p{
                color: #ffffff;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                margin-bottom: 40px;
            }
            time{
                color: #c7b299;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
            }
        }
    }  
    .seventh{
        background-color: #fbfaf8;
        .container{
            background: url(../images/iPhone_in_hand.png) no-repeat;
            background-position-x: 77px;
            background-position-y: 100%;
            h2{
                color: #555555;
                font-family: Raleway, sans-serif;
                font-size: 30px;
                font-weight: 600;
                margin-top: 195px;
                margin-bottom: 40px;
            }
            p{
                color: #8c8c8c;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                margin-bottom: 45px;
            }
            ul{
                list-style-type: none;
                margin-bottom: 183px;
                padding: 0;
                li{
                    color: #8c8c8c;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 32px;
                    padding-left: 97px;
                    background: url(../images/01.svg) no-repeat;
                    background-position-x: 50px;
                    background-position-y: 5px;
                }
            }
        }
       
    } 

    .eighth{
        background-color: #f4f5f8;
        background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
        .statistic{
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin-top: 69px;
            margin-bottom: 60px;
            .blocki{
                .svg_items{
                    fill:#c7b299;
                    transition-duration: 0.5s;
                }
                .info{
                    .likes{
                        display: block;
                        color: #ffffff;
                        font-family: Montserrat,sans-serif;
                        font-size: 48px;
                        font-weight: 200;
                        line-height: 36px;
                        margin-top: 30px;
                        margin-bottom: 21px;
                        transition-duration: 0.5s;

                    }
                    .blog{
                        display: block;
                        color: #c7b299;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        text-transform: uppercase;
                        margin-bottom: 30px;
                        transition-duration: 0.5s;
                    }
                    &::after{
                        content: "";
                        display: block;
                        width: 30px;
                        height: 2px;
                        background-color: #ffffff;
                        margin: 0 auto;
                        transition-duration: 0.5s;
                    }
                }

                &:hover{
                    .svg_items{
                        fill:#ffffff;
                    }
                    .likes{
                        color: #c7b299;
                    }
                    .blog{
                        color: #ffffff;
                    }
                    .info{
                        &::after{
                            background-color: #c7b299;
                        }
                    }
                }
            }
            
            
        }
    }
    .ninth{
        text-align: center;
        h2{
            margin-top: 82px;
            margin-bottom: 30px;
            color: #555555;
            font-family: Raleway , sans-serif;
            font-size: 30px;
            font-weight: 600;
        }
        .information{
            width: 761px;
            color: #8c8c8c;
            font-family: Montserrat;
            margin: 0 auto 40px auto;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
        }
        .row{
            display: grid;
            grid-template-columns: repeat(3, 370px);
            grid-column-gap: 30px;
            margin-bottom: 40px;
            article{
                .picture{
                    transition-duration: 0.5s;
                    position: relative;
                    img{
                            mix-blend-mode: multiply;
                        } 
                    .season{
                        position: absolute;
                        left: 20px;
                        top: 20px;
                        .time{
                            display: flex;
                            width: 50px;
                            height: 35px;
                            border-radius: 3px 3px 0 0;
                            background-color: #363636;
                            justify-content: center;
                            align-items: center;
                            color: #ffffff;
                            font-family: Montserrat;
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 20px;
                            transition-duration: 0.5s;

                        }
                        .month{
                            display: flex;
                            width: 50px;
                            height: 25px;
                            border-radius: 0 0 3px 3px;
                            background-color: #252525;
                            justify-content: center;
                            align-items: center;
                            color: #ffffff;
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 20px;
                            transition-duration: 0.5s;
                        }
                    }
                    
                }
                .text{
                    text-align: left;
                    border: 1px solid #f8f8f8;
                    padding-left: 29px;
                    transition-duration: 0.5s;
                    overflow: hidden;
                    h3{
                        color: #555555;
                        font-family: Raleway;
                        font-size: 20px;
                        font-weight: 500;
                        margin-top: 30px;
                        margin-bottom: 19px;
                        transition-duration: 0.5s;
                    }
                    p{
                        color: #8c8c8c;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 22px;
                        margin-bottom: 27px;
                        transition-duration: 0.5s;
                    }
                    a{
                        display: inline-block;
                        color: #c7b299;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        text-decoration: none;
                        margin-bottom: 33px;
                        &::after{
                            content: url(../images/arrow.svg);
                            margin-left: 9px;
                        }
                    }
                }
                &:hover{
                    .picture{
                        background-color: rgba(17, 17, 17, 0.7);
                        .time{
                            background-color: #c7b299;
                        }
                        .month{
                            background-color: #a48d72;
                        }
                    }
                    .text{
                        background-color: #362f2d;
                        border: 1px solid #362f2d;
                        h3{
                            color: #c7b299;
                        }
                        p{
                            color: #ffffff;
                        }
                    }
                }
                
            }
        }
        .main_radio{
            display: flex;
            list-style:none;
            justify-content: center;
            button{
                margin-right: 8px;
                margin-bottom: 80px;
                padding: 0;
                border: none;
                background-color: #f0f8ff00;
                outline: none;
                .radio{
                    fill: #d1d1d1;
                    transition-duration: 0.5s;

                    &:hover{
                        fill: #c7b299;
                    }
                }
            }
        }

        
    }

    .tenth{
        background: url(../images/mountain_2.png);
        background-size: cover;
        overflow: hidden;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 140px;
            margin-bottom: 140px;
            img{
                transition-duration: 0.5s;
                &:hover{
                  filter: brightness(50%);
                }
                
            }
        }
    }
}



footer{
    .eleventh{
        background-color: #191919;
        margin-top: -2px; 
        padding-top: 108px;
        padding-bottom: 81px;
        .container{
            .row{
              .footer_1{
                  margin-top: -28px;
                    .logo{
                        overflow: hidden;
                        margin-bottom: 30px;
                        
                        a{
                            display: flex;
                            align-items: center;
                            float: left;
                            &:hover{
                            text-decoration: none;   
                            }
                            
                            .logo-svg {
                            fill: #fff;
                            margin-right: 2px;
                            transition-duration: 0.5s;
                            }
            
                            span{
                                color: #ffffff;
                                font-family: Raleway , sans-serif;
                                font-size: 34px;
                                font-weight: 400;
                                letter-spacing: -1.36px;
                                transition-duration: 0.5s;
                            }
                            &:hover{
                                .logo-svg {
                                    fill: #c7b299;
                                }
                                span{
                                    color: #c7b299;
                                }
                            }
                        }
                    }
                   
                    .more{
                        display: inline-block;
                        margin-top:33px;
                        color: #d1d1d1;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        text-decoration: none;
                        transition-duration: 0.5s;
                        &:hover{
                            color: #c7b299;
                        }
                    }

                }
                 p{
                    color: #555555;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-bottom: 0;
                    transition-duration: 0.5s;
                    
                    }   
                span{
                    color: #363636;
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 20px;
                    transition-duration: 0.5s;
                }
                h3{
                    color: #ffffff;
                    font-family: Raleway;
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 33px;
                    }
                .footer_2{
                        


                    a{
                        text-decoration: none;

                        &::after{
                            content: "";
                            display: block;
                            height: 1px;
                            background-color: #252525;
                            margin-top: 21px;
                            margin-bottom: 20px;
                        }

                       &:last-child{
                            &::after{
                                content: none;
                            }
                        }
                        P{
                         margin-top: 10px;
                         
                        
                        }

                        &:hover{
                            span{
                                color: #ffffff;
                            }
                            p{
                                color: #c7b299;
                            }
                        }
                       
                    }
                }
                .footer_3{
                    span{
                        &::after{
                            content: "";
                            display: block;
                            height: 1px;
                            background-color: #252525;
                            margin-top: 21px;
                            margin-bottom: 18px;
                        }
                        &:last-child{
                            &::after{
                                content: none;
                            }
                        }
                    }
                    a{
                        color: #00bff3;
                        transition-duration: 0.5s;
                        text-decoration: none;
                        &:hover{
                           color:  #00fdff;
                        }
                    }
                    .personal{
                        color: #959595;
                        &:hover{
                            color:  #efe8e8;
                         }
                    }
                }
                .footer_4{
                    .footer_grid{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-row-gap: 10px;
                    grid-column-gap: 10px;
                        
                }
                img[alt = "ads"]{
                    transition-duration: 0.5s;
                    &:hover{
                      filter: brightness(50%);
                    }
                }
                }
                


            }
        }
        
        
    }

    .twelvth{
        background-color: #111111;
        padding: 45px 0 52px 0;
        .row{
            display:flex;
            justify-content: space-between;
            font-family: Montserrat;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            span,a{
                color: #555555;
            }
            span{
                position: relative;
                &:after{
                    position: absolute;
                    content: "";
                    display: inline-block;
                    background-color: #252525;
                    width: 1px;
                    height: 14px;
                    bottom: 0;
                    right: 14px;
                }
                &:last-child{
                    &:after{
                        content: none;
                    }
                }
            }
            a{
                transition-duration: 0.5s;
                text-decoration: none;
                margin-right: 28px;
                
               
                &:hover{
                    color: #c7b299;
                }
            }
            
            .link_on_sites{
                color: #959595;
            }
        }
    }
}

